
   <div class="form-group integer optional mood_happiness">
    <label class="integer optional control-label" for="mood_happiness">Happiness</label>
    <input class="numeric integer optional form-control form-control" type="range" min="0" max="1000" step="1" name="mood[happiness]" id="mood_happiness" />
  </div>

<div class="form-group integer optional mood_energy"><label class="integer optional control-label" for="mood_energy">Energy</label><input class="numeric integer optional form-control form-control" type="range" min="0" max="1000" step="1" name="mood[energy]" id="mood_energy" /></div>
<div class="form-group integer optional mood_motivation"><label class="integer optional control-label" for="mood_motivation">Motivation</label><input class="numeric integer optional form-control form-control" type="range" min="0" max="1000" step="1" name="mood[motivation]" id="mood_motivation" /></div>

<div class="form-group integer optional mood_love"><label class="integer optional control-label" for="mood_love">Love</label><input class="numeric integer optional form-control form-control" type="range" min="0" max="1000" step="1" name="mood[love]" id="mood_love" /></div>




