@import "bootstrap-sprockets";
@import "bootstrap";

@media(min-width: 480px) {
  .checkbox label {
    width: 100%;
  }

  .boolean {
    display: inline-block;
    width: 20%;
  }
}

@media only screen and (max-width : 767px) {

  .navbar-right {
    clear: both;
  }

  .navbar-nav {
    margin: 7.5px 0px;
}

}